Checks: >-
  bugprone-*,
  cppcoreguidelines-slicing,
  llvm-*,
  modernize-*,
  -modernize-concat-nested-namespaces,
  performance-*,
  readability-*,
  -readability-magic-numbers,

WarningsAsErrors: '*'
